apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  labels:
    app: my-app
spec:
  replicas: 3
  
  selector:
    matchLabels:
      app: my-app
  
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: israelyarbloom/my-app:v1
        
        ports:
        - containerPort: 8000

        env:
        - name: MONGO_URL
          value: ""
        - name: POSTGRES_PORT
          value: "5432"
        - name: POSTGRES_DB
          value: "coordinates_db"
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "postgres"