apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-api
  labels:
    app: my-api
spec:
  replicas: 3
  
  selector:
    matchLabels:
      app: my-api
  
  template:
    metadata:
      labels:
        app: my-api
    spec:
      containers:
      - name: my-api
        image: israelyarbloom/my-api:v1
        
        ports:
        - containerPort: 8000

        env:
        - name: MONGO_URI
          value: "my-mongodb-service"
        - name: MONGO_PORT
          value: "27017"
        - name: DB_NAME
          value: "employees_data"